<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Caminho onde as etiquetas serão salvas-->
    <add key="CaminhoOrigem" value="C:\Temp\etiqueta" />
    <!--Caminho da impressora para onde as etiquetas serão enviadas. Ex.: "\\NOME-DO-PC\Nome da Impressora"-->
    <add key="CaminhoDestino" value="\\NOME-DO-PC\Nome da Impressora" />
    <!--Delay de envio entre cada arquivo para a impressora (em milissegundos)-->
    <add key="DelayDeEnvio" value="1000" />
    <!--Delay entre verificações de novos arquivos no diretório de etiquetas (em milissegundos)-->
    <add key="DelayDeLeitura" value="15000" />
  </appSettings>
</configuration>